/* General stling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    width: 85%;
}


.btn {
    display: inline-block;
    min-width: 200px;
    font-weight: 500;
    text-align: center;
    padding: 1rem 2.3rem;
    color: #fff;
    background: #3a52bf;
    /* transition: all .3s ease-in-out; */
}

.btn-main {
    background: #745cf9;
    border:  2px solid #745cf9;
    
}
.btn-main:hover {
    background-color: #3a52bfee;
    border:  2px solid #3a52bfee;
}

.btn-secondary {
    background: transparent;
    border:  2px solid #fff;
}

.btn-secondary:hover {
    background-color: #fff;
    color: #000;
}


.navbar {
    border-bottom: 1px solid #0000ff36;
    padding: 1.4rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo {
    font-size: 1.4rem;
    color: #666;
}

.navbar__items {
    display: flex;
    margin-left: auto;
    margin-right: 2rem;
}
.navbar__item {
    margin-left: 1.7rem;
}

.navbar__link {
    font-size: .9rem;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
}
.navbar__link:hover {
    color: #3a52bf;
}
.navbar__link i {
    font-size: .5rem;
}

.navbar__btn-search {
    border: none;
    outline: none;
    background: transparent;
    color: #3a52bf;
    margin-top: .3rem;
}

/* hero section  */
.hero {
    margin-top: 2rem;
    height: 100vh;
    background: url(../img/bkg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:   bottom center;
    /* background-attachment: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.hero__heading {
    font-size: 3rem;
    font-weight: 400;
    

}

.hero__sub-heading {
    display: block;
    text-align: center;
}

.hero__text {
    margin: 2rem 0;
}


/* seo section */
.seo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    gap: 4rem;
}

.seo__imgbox {
    flex: 2;
    padding: 3rem 1.7rem;
}
.seo__card {
    flex: 1;
    min-height: 400px;
    padding: 2rem 0;
}

.seo__card h3 {
    color: #000;
    margin: 1.5rem 0;
    font-size: 1.9rem;
    font-weight: 400;
}

.seo__card p {
    color: #666;
    margin: 1.5rem 0;
    line-height: 1.6;
}